$celtic-blue: #266dd3ff;
$charcoal: #344055ff;
$cool-gray: #888098ff;
$thistle: #cfb3cdff;
$thistle-2: #dfc2f2ff;


//Font Sizes
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-lg: 2.25rem; //36px