@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.resource-card {
    width: 200px;
    height: 250px;
    border-radius: 6px;
    border: solid 1px $charcoal;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}