<header class="header" role="banner">
    <nav class="header__nav">
        <span class="header__title"><a href="" class="header__link">Users&Resource</a></span>
        <ul class="header__nav-items">
            <li class="header__nav-item">
                <a routerLink="/users" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="header__link_active"
                    class="header__link">Users</a>
            </li>
            <li class="header__nav-item">
                <a routerLink="/resource" routerLinkActive="header__link_active" class="header__link">Resource</a>
            </li>
        </ul>
        <ul class="header__nav-items">
            <li class="header__nav-item">
                <a routerLink="/register" routerLinkActive="header__link_active" class="header__link">Register</a>
            </li>
            <li class="header__nav-item">
                <a routerLink="/login" routerLinkActive="header__link_active" class="header__link">Log In</a>
            </li>
        </ul>
    </nav>
</header>