<section class="register">
    <h2 class="register__title">{{title}}</h2>
    <form [formGroup]="registerForm" (ngSubmit)="submit()" class="form">
        <div class="form__input-group">
            <input class="form__input" #email formControlName="email" placeholder="Enter email" (keyup.enter)="email.blur()">
            <div class="form__error-group" *ngIf="_email.invalid && (_email.touched || _email.dirty)">
                <span class="form__error" *ngIf="_email.errors?.required">Field is required</span>
                <span class="form__error" *ngIf="_email.errors?.email&&_email.touched">Wrong email format</span>
            </div>
        </div>
        <div class="form__input-group">
            <input class="form__input" #password formControlName="password" placeholder="Enter password" type="password" (keyup.enter)="password.blur()">
            <div class="form__error-group" *ngIf="_password.invalid && (_password.touched || _password.dirty)">
                <span class="form__error" *ngIf="_password.errors?.required">Field is required</span>
            </div>
        </div>
        <button class="form__btn" type="submit" [disabled]="_email.invalid || _password.invalid">Submit</button>
    </form>
</section>

<app-modal *ngIf="modalService.isVisible$ | async" title={{title}}>
    <p>{{status}}</p>
</app-modal>